{% load bootstrap_toolkit %}

# Using a filter

<form action="/url/to/submit/" method="post">
        {% csrf_token %}
            {{ form|as_bootstrap }}
                <div class="form-actions">
                            <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
</form>

# Using template tags

<form action="/url/to/submit/" method="post" class="form">
        {% csrf_token %}
            {% bootstrap_form form layout="vertical" %}
                <div class="form-actions">
                            <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
</form>
